<configuration>
   <system.webServer>
       <staticContent>
           <mimeMap fileExtension=".json" mimeType="application/json" />
           <mimeMap fileExtension=".markdown" mimeType="text/x-markdown" />
           <mimeMap fileExtension=".png" mimeType="image/png" />
    </staticContent>
   </system.webServer>
</configuration>